

// Adjust a block to have a different font size and line height to maintain the
// rhythm. $lines specifies how many multiples of the baseline rhythm each line
// of this font should use up. It does not have to be an integer, but it
// defaults to the smallest integer that is large enough to fit the font.
// Use $from-size to adjust from a font-size other than the base font-size.
@mixin adjust-font-size-to($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) 
{
  @if not $relative-font-sizing and $from-size != $base-font-size {
    @warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
  }

  font-size: $font-unit * $to-size / $from-size;
  @include adjust-leading-to($lines);
}



// Adjust a block to have different line height to maintain the rhythm.
// $lines specifies how many multiples of the baseline rhythm each line of this
// font should use up. It does not have to be an integer, but it defaults to the
// smallest integer that is large enough to fit the font.
@mixin adjust-leading-to($lines) 
{
  line-height: ceil($lines/3)*3 * $base-line-height;
}



// Calculate rhythm units.
@function rhythm($lines: 1, $font-size: $base-font-size, $offset: 0) 
{
  @if not $relative-font-sizing and $font-size != $base-font-size {
    @warn "$relative-font-sizing is false but a relative font size was passed to the rhythm function";
  }

  $rhythm: $font-unit * ($lines * $base-line-height - $offset) / $font-size;

  // Round the pixels down to nearest integer.
  @if unit($rhythm) == px {
    $rhythm: floor($rhythm);
  }

  @return $rhythm;
}



// Calculate the minimum multiple of rhythm units needed to contain the font-size.
@function lines-for-font-size($font-size) 
{
  $lines: if($round-to-nearest-half-line,
              ceil(2 * $font-size / $base-line-height) / 2,
              ceil($font-size / $base-line-height));

  @if $lines * $base-line-height - $font-size < $min-line-padding * 2 {
    $lines: $lines + if($round-to-nearest-half-line, 0.5, 1);
  }
  
  @return $lines;
}


// styles for all headings, in the style of @csswizardry
%hN {
	text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning
}



// Sass loop to associate h1-h6 tags with their appropriate greek
// heading based on a modular scale.
// for each size in the scale, create a class
@each $size in $font-sizes-array {
	.#{nth($size, 1)} {
		@include adjust-font-size-to(nth($size, 2), lines-for-font-size(nth($size, 2)));
		margin-bottom: $leading-below;
    color: $headline-colour;
	}
}

// associate h1-h6 tags with their appropriate greek heading
h1 {
	@extend .alpha;
	@extend %hN;
}

h2 {
	@extend .beta;
	@extend %hN;
}

h3 {
	@extend .gamma;
	@extend %hN;
}

h4 {
	@extend .delta;
	@extend %hN;
}

h5 {
	@extend .epsilon;
	@extend %hN;
}

h6 {
	@extend .zeta;
	@extend %hN;
}

p {
	@include adjust-font-size-to($base-font-size);
	margin-bottom: $leading-below;
  color: $body-colour;
}

ul {
	margin-bottom: $leading-below;	
	margin-left: $leading-below;
	list-style-type: disc;

}

li {
	@include adjust-font-size-to($base-font-size);
  color: $body-colour;
}
