/* style.scss */

@import 'reset.scss';

//@import 'vars-typeplate.scss';
//@import 'typeplate.scss';
@import 'typography.scss';
@import 'grid.scss';



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

section {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

// main column & sidebar
article {
	@include column(8);
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $base-line-height;
	}
}
aside {
	@include column(4);
	border-left: 4px solid #ddf;
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $base-line-height;
		border-left: none;
	}
}

