/* style.scss */

@import 'settings.scss';
@import 'mixins.scss';

@import 'reset.scss';

//@import 'vars-typeplate.scss';
//@import 'typeplate.scss';
@import 'typography.scss';
@import 'grid.scss';



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: $paper-colour;
}


header {
	background: $body-colour;
	padding: $base-line-height*2 ;
	margin-bottom: $leading-below;


		li {
		color: #fff;
	}

	ul {
		margin: 0;
	}

	nav {
		max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	}
}


.panel {
	background: $accent-colour;
	color: #fff;
	padding: $leading-below;
	@include border-radius(2px);
}

section {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

// main column & sidebar
article {
	@include column(8);
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $leading-below;
	}
}
aside {
	@include column(4);
	border-left: 1px solid $accent-light-colour;
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $leading-below;
		border-left: none;
	}
}

