/* style.scss */

@import 'settings.scss';
@import 'mixins.scss';

@import 'reset.scss';

//@import 'vars-typeplate.scss';
//@import 'typeplate.scss';
@import 'typography.scss';
@import 'grid.scss';
@import 'markdown.scss';



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: $paper-colour;
}


header {
	background: $body-colour;
	padding: $base-line-height*3 0;
	margin-bottom: $leading-below;
	border-bottom: 4px solid $accent-colour;


		li {
		color: #fff;
	}

	ul {
		margin: 0;
	}

	nav {
		max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	}
}

.hero {
	background: #ebeae8 url("../office5.jpg") 50% -50px no-repeat;
	height: 600px;
	margin-bottom: $leading-below;

	.container {
		padding-top: 140px;
		padding-left: 60px;
	}
}

.panel {
	background: $accent-colour;
	color: #fff;
	padding: $leading-below;
	@include border-radius(2px);
}


.keywords {
	margin-bottom: $leading-below;

	.word {
		@extend .zeta;
		color: #636363;
		font-weight: 700;
		line-height: adjust-leading-to(3);
	}
	.hide {
		display: none;
	}
	.mark {
		color: #979797;
	}
}

h2, h3, h4 {
	//background: $accent-colour;
	//color: #fff;
	//padding-left: $leading-below/2;
	color: #999;
}

.microbio {
	font-size: 20px;
}

.header {
	@include clearfix();

	.img, .brand {
		@include column(3);
		background: #fee;
	}

	.details {
		@include column(6);

		h2 {
			@extend .zeta;
		}

		a {
			display: block;
		}
	}
	
}
.avatar {
	display: block;
	width: 120px;
	height: 120px;
	@include border-radius(120px);
}

section, .container {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

// main column & sidebar
article {
	@include column(8);
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $leading-below;
	}
}
aside {
	@include column(4);
	border-left: 1px solid $accent-light-colour;
	padding: $base-line-height;

	@media screen and (max-width: 720px) {
		@include column(12);
		margin-bottom: $leading-below;
		border-left: none;
	}
}

